.page-body {
  margin: 0;
  padding: 0;
}

/*-------------- header start --------------*/
.header,
.footer {
  background-color: #192F2D;
}

.header__container,
.footer-container {
  width: 100%;
  max-width: calc(1752px - 20px);
  height: 100px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

.header__item {
  list-style: none;
}

.header__link {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  transition: .3s;
}

.header__link:hover {
  color: #278D9F
}

.header__link--logo {
  width: 48px;
  height: 60px;
  background-image: url("assets/svg/tree.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: .3s;
}

.header__link--logo:hover {
  filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(
    141deg) brightness(89%) contrast(90%);
}
/*-------------- header end --------------*/

.page {
  min-width: 100%;
  min-height: calc(100vh - 200px);
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/*-------------- start page start --------------*/
.start-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-page__ball {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.start-page__ball::before {
  content: "";
  position: absolute;
  background-color: #aaa;
}

.start-page__ball--big {
  top: 150px;
  left: calc(50% - 468px);
  width: 418px;
  height: 518px;
  background-image: url("./assets/ball/1.png");
}

.start-page__ball--big::before {
  top: -150px;
  left: 50%;
  width: 4px;
  height: 155px;
}

.start-page__ball--small {
  top: 110px;
  left: calc(50% + 296px);
  width: 246px;
  height: 306px;
  background-image: url("./assets/ball/2.png");
}

.start-page__ball--small::before {
  top: -110px;
  left: 50%;
  width: 4px;
  height: 115px;
}

.start_page__message {
  display: block;
  width: 419px;
  padding: 65px 85px;
  margin-bottom: 113px;
  border: 2px solid #278D9F;
  border-radius: 30px;
  font-family: "Neucha", cursive;
  font-size: 53px;
  line-height: 58px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  backdrop-filter: blur(31px);
}

.start_page__button {
  width: 320px;
  height: 60px;
  padding: 12px 113px;
  margin-bottom: 55px;
  border: 2px solid #278D9F;
  border-radius: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  backdrop-filter: blur(31px);
  cursor: pointer;
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.start_page__button:hover {
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
}
/*-------------- start page end --------------*/

/*-------------- footer start --------------*/
.footer__author {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}

.footer__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}

.footer__link:hover {
  color: #278D9F
}

.footer__rsschool-logo {
  width: 160px;
  height: 60px;
  background-image: url("./assets/svg/rss.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: .3s;
}

.footer__rsschool-logo:hover {
  filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(
    141deg) brightness(89%) contrast(90%);
}
/*-------------- footer end --------------*/